<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand rounded-pill" routerLink="/formulaire">
      CV & Portfolio
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isLoggedIn | async">
          <a class="nav-link active" aria-current="page" routerLink="/formulaire"><i class="fa-solid fa-house"></i>
            Formulaire
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn | async">
          <a class="nav-link active" aria-current="page" routerLink="/cv"><i class="fa-solid fa-list"></i> CV Model
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn | async">
          <a class="nav-link active" aria-current="page" routerLink="/portfolio"><i class="fas fa-circle-plus"></i>
            Portfolio Model
          </a>
        </li>
      </ul>
      <ul class="navbar-nav me-5 mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!(isLoggedIn | async)">
          <a class="nav-link active" aria-current="page" routerLink="/registre"><i class="fas fa-user-plus"></i> Sign
            Up</a>
        </li>

        <li class="nav-item" *ngIf="!(isLoggedIn | async)">
          <a class="nav-link active" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Sign In</a>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn | async">
          <a class="nav-link active" (click)="Signout()"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>